 .body {
  color: green;
  background-image:
    linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
  /* background-color:yellow; */
}

* {
  box-sizing: border-box; 
}

.grid-show {
  
  max-width: 500px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}